
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background: url("https://previews.123rf.com/images/belchonoksun/belchonoksun1511/belchonoksun151100027/48094751-mathematical-vector-seamless-pattern-with-algebra-plots-calculations-task-solutions-scientific-vecto.jpg");
}

main {
  max-width: 600px;
  margin: 50px auto 40px auto;
  background-color: white;
  padding-top: 1px;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
}
#sub-title {
  margin: -25px 5px 15px 5px;
  text-align: center;
 
}
#img-div {
  background-color: #BDB2AA;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 25px auto 10px auto;
}
#img-caption {
  color: #E6FFFC;
  text-align: center;

}

h3 {
  text-align: center;
}

#tribute-info {
  padding: 10px 20px 30px 5px;
}

#tribute-info p {
  margin-left: 20px
}

